<p>Mute Tweets allows you to temporarily unfollow someone who's being too noisy, refollowing them after a given period of time.</p>

<h2>Usage</h2>
<p>First, follow <a href="http://twitter.com/mutetweets">mutetweets</a> on Twitter. Mute Tweets will follow you back and send you a direct message with a link that will let you give it access to your Twitter account so it can unfollow and refollow people on your behalf.</p>

<p>Now, to mute someone, just tweet:</p>
  
<p><code>
@mutetweets <em>&lt;@noisyperson&gt; &lt;length of time&gt;</em> 
</code><p>
  
<p><em><code>&lt;length of time&gt;</code></em> follows the format <em><code>&lt;number&gt;&lt;unit&gt;</code></em>, where <em><code>&lt;unit&gt;</code></em> is one of "s" (seconds), "m" (minutes), "h" (hours), or "d" (days).</p>

<h3>Example</h3>

<table id="examples">
<tr>
  <td class="example">@mutetweets @gruber 3h</td>
  <td class="desc"># mute @gruber for 3 hours (until the baseball game is over)</td>
</tr>
<tr>
  <td class="example">d mutetweets @gruber 3h</td>
  <td class="desc"># send a direct message instead</td>
</tr>
</table>
