<p>Mute Tweets allows you to temporarily unfollow someone who's being too noisy, refollowing them after a given period of time.</p>

<p>Before you can start using the service, you need to <a href="/connect">connect Mute Tweets to your Twitter account</a> so that it can unfollow and refollow on your behalf. Don't worry--Mute Tweets won't ever do anything else to your Twitter account, and you can <a href="http://twitter.com/settings/connections">revoke access any time</a>.</p>

<h2>Usage</h2>
<p>To mute someone, just tweet:</p>
  
<p><code>
[d] @mutetweets <em>&lt;@noisyperson&gt; &lt;length of time&gt;</em> 
</code><p>
  
<p><em><code>&lt;length of time&gt;</code></em> follows the format <em><code>&lt;number&gt;&lt;unit&gt;</code></em>, where <em><code>&lt;unit&gt;</code></em> is one of "m" (minutes), "h" (hours), or "d" (days).</p>

<h3>Example</h3>

<table id="examples">
<tr>
  <td class="example"><code>@mutetweets @scobleizer 3h</code></td>
  <td class="desc"># mute @scobleizer for 3 hours</td>
</tr>
<tr>
  <td class="example"><code>d mutetweets @scobleizer 3h</code></td>
  <td class="desc"># send a direct message instead</td>
</tr>
</table>

<h3>Options</h3>

<table id="options">
<tr>
  <td class="option">-v or -verbose</td>
  <td class="desc">
    get direct messages when your mute starts and ends<br>
    Example: <code>d mutetweets @scobleizer 3h -verbose</code>
  </td>
</tr>
</table>


<h3>Notes &amp; Issues</h3>

<ul>
  <li>
    <h4>Don't you be annoying either.</h4>
    <p>Keep in mind that the person you muted will get a "...is now following you on Twitter" message when the mute expires (unless they've turned notifications off), and if you don't use a direct message, the person will also see it in their mention stream. Because of this, please use sparingly (if you're muting someone a lot, maybe you shouldn't be following them).</p>
  </li><li>
    <h4>What? I can't hear you.</h4>
    <p>If your tweets are protected, you have to follow <a href="http://twitter.com/mutetweets">mutetweets</a> first.</p>
  </li><li>
    <h4>Help!</h4>
    <p>If you have an questions or problems, send an email to <a href="mailto:support@mutetweets.com">support@mutetweets.com</a>.</p>
  </li>
</ul>