<html>
<head>
  <title>Mute Tweets</title>
  <link href="/css/main.css" media="screen" rel="Stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
</head>

<body>

<div id="content">
  <div id="header">
    <div>
      <div id="login-status">
        <% if @user %>
        Welcome, <%= @user %>. <a href='/disconnect'>[logout]</a>
        <% else %>
        <a href="/connect"><img src="/images/sign_in_with_twitter.gif"/></a>
        <% end %>
      </div>            
      <h1>Mute Tweets</h1>
    </div>
    <br clear="all"/>
  </div>

  <%= yield %>
    
  <div id="footer">
  </div>    
</div>

</body>
</html>