body {font-size:16px; font-family:helvetica,arial,sans-serif;}
img {border:none;}
h2 {font-size:20px;}

#header h1 {margin:0; font-size:24px;}

#content {
  margin:0 auto;
  width:850px;
}

#login-status {
  float:right;
}

table#examples {
  border: none;
  width: 650px;
}

table#examples .example {
  border: none;
  font-family:monospace;
  font-size: 16px;
}

table#examples .desc {
  font-size: 80%;
  font-style: italic;
  color: #666;
}