body {font-size:16px; font-family:helvetica,arial,sans-serif;}
img {border:none;}
h2 {font-size:20px;}
a {
  text-decoration: none;
  color: blue;
}
ul {
  margin-left: 0;
  padding-left: 1em;
}

#header h1 {margin:0; font-size:24px;}

#logo {
  float: left;
  margin-left: -88px;
  border: 1px solid #93B3C7;
}


#content {
  margin:0 auto;
  width:750px;
}

#login-status {
  float:right;
}

code {
  font-family:monospace;
  font-size:16px;
}

table {
  border: none;
  width: 650px;
}

td {
  vertical-align: top;
}

table#examples .desc {
  font-size: 90%;
  font-style: italic;
  color: #666;
}

table#options .option {
  font-weight: bold;
}
